<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Nepal</title>
    <!-- Materialize CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="materialize.css" rel="stylesheet">
</head>
<body class="blue lighten-5">
    <!-- Navigation Bar -->
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo "><img src="Logo.png" class="responsive-img"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </nav>
    <!-- Main Content -->
    <div class="container" id="home">
        </i> <h1>Welcome to Nepal</h1>
        <p>Explore the rich culture and heritage of Nepal.</p>
        <img src="tradition.png" alt="Nepal Photo 1" class="responsive-img">
    </div>

    <div class="container" id="about">
        <h2>About</h2>
        <p>Nepali tradition is diverse and deeply rooted in ancient culture...</p>
    </div>

    <div class="container" id="contact">
        <h2>Contact Us</h2>
        <form>
            <div class="input-field">
                <input id="name" type="text" class="validate">
                <label for="name">Name</label>
            </div>
            <div class="input-field">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
            </div>
            <button id="Formsubmit" class="btn waves-effect waves-light" type="submit" name="action">Submit
                        </button>
        </form>
    </div>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Custom JS -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/scriptMongo.js"></script>
    <!-- <script src="script.js"></script> -->
</body>
</html>
